@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
     scroll-behavior: smooth;
 }

body {
    font-family: "Raleway", serif;
}

.navbar {
    background-color: #4be3b0;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
}

.nav-link:hover {
    background-color: #f4f4f4;
    color: #4be3b0;
}

.header {
    height: 100vh;
    background: url("../images/bg.jpg") no-repeat center/cover;
    /*background-size: 96% 100%;*/
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.description {
    position: absolute;
    top: 30%;
    width: 50%;
}

.description > h1 {
    color: #4be3b0;
}

.description > p {
    color: #e87e3f;
    line-height: 2rem;
    font-size: 1.2rem;
    width: 70%;
}

.description > a {
    border-color: #4be3b0;
    color: #e87e3f;
}

.description > a:hover {
    background-color: #4be3b0;
    color: #f4f4f4;
}

.about h1, .portfolio h1, .team h1 {
    color: #4be3b0;
}

.about hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.about .border-left {
    border-left: 4px solid #4be3b0!important;
}

.team__description {
    background-color: #4be3b0;
    color: #f4f4f4;
    text-align: center;
    border-top-right-radius: 93%;
    transition: 0.7s ease-in-out;
    position: absolute;
    width: 90%;
    bottom: 24px;
}

.team__description-user {
    position: relative;
    right: 20%;
    top: 10px;
}

.team__description-title {
    display: none;
    position: absolute;
    top: 30%;
}

.team__item:hover .team__description {
    height: 85%;
    border-top-right-radius: 0%;
    background-color: rgba(174, 224, 207, 0.4);
}

.team__item:hover .team__description-user {
    display: none;
}

.team__item:hover .team__description-title {
    display: block;
    color: #e87e3f;
    font-weight: bold;
}

input[type=submit] {
    background-color: #4be3b0!important;
}

@media screen and (max-width: 992px) {
    .description {
        width: auto;
        margin: 0 auto;
    }

    .description > p {
        line-height: 1.8rem;
        text-align: justify;
        width: 90%;
    }

    .team__item .team__description-title {
        line-height: 1rem;
        font-size: .7rem;
        width: 96%;
        top: 20%;
    }
}

@media screen and (max-width: 768px){
    .about .border-left {
        border-left: none!important;
    }

    .team__item .team__description-title {
        line-height: .5rem;
    }
}

@media screen and (max-width: 480px) {
    .description > h1{
        font-size: 2rem;
    }
}


#list_scroll {
    position: relative; 
          }

#list_scroll > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

 .scrollspy-example {
     overflow: scroll;
     height: 200px;
 }

 .list-group-item.active {
    background-color :#4BE3B0; 
    border-color: #4BE3B0;
 }

 .scrollspy-example {
     padding-left: 20px;
 }

 #list_group_container, #list_scroll {
     margin: 5rem 0;
 }

.slider {
    position: relative; }
    
    
    
    
    /*arrows  */
.slider  .slick-arrow {
        position: absolute;
        top:50%;
        z-index:10;
        font-size: 0;
        width: 50px;
        height: 50px;
        border:none;

       
    }
    .slider .slick-arrow.slick-prev {
        left:0;
        /* background: url('../images/arrow/left.png') 0 0/100% no-repeat; */
    }
    .slider .slick-arrow.slick-next {
        right:0;
        /* background: url('../images/arrow/right.png') 0 0/100% no-repeat; */
    }
.slider__item img {
    max-width: 100%x;
    max-height:600px;
}
 
 .slider .slick-list {
     overflow: hidden;
    
 }
 
 .slick-track {
    display: flex;
     }


     .slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 100px;
    height: 100px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: green;
    border: none;
    outline: none;
    background:#4BE3B0;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color:w-100;
    outline: none;
    background: #cf6920;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .1;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .9;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

